<div class="boxed_wrapper">

    <div class="preloader"></div> 
   
    
    <!--Start breadcrumb area-->     
    <section class="breadcrumb-area" style="background-image:url(assets/images/resources/contact_banner.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content text-center clearfix">
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Contact</li>
                            </ul>    
                        </div>
                        <div class="title">
                           <h1>Contact</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->   
    
    <!--Start Contact Info area-->
    <section class="contact-info-area">
        <div class="container">
            <div class="row">
                <!--Start single info box-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-info-box text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>visit us</span>
                            <h3>Our Address</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-fast clr2"></span></li>
                        </ul>
                        <ul class="text">
                            <li>Office No.2, Krsna Chambers,Above Kawasaki Pune,</li>
                            <li>North Main Road,Pune : 411001</li>
                        </ul>
                    </div>
                </div>
                <!--End single info box-->
                <!--Start single info box-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-info-box text-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Call or write</span>
                            <h3>Phone & Email</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="flaticon-call clr3"></span></li>
                            <li><span class="flaticon-message"></span></li>
                        </ul>
                        <ul class="text">
                            <li>020 67809191</li>
                            <li>response@gbps.net.in</li>
                        </ul>
                    </div>
                </div>
                <!--End single info box-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-info-box text-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1200ms">
                        <div class="title-holder">
                            <span>Follow or Post</span>
                            <h3>Multiline Support</h3>
                        </div>
                        <ul class="icon-holder">
                            <li><span class="fa fa-facebook"></span></li>
                            <li><span class="fa fa-twitter"></span></li>
                        </ul>
                        <ul class="text">
                            <li>@gbpsbroadbandpune</li>
                            <li>@GbpsLtd</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Info Area-->
    
    
    </div>  